*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
body{
  padding:0 30px;
  background-color: rgba(44, 44, 44, 1);

}
/* Scrollbar styles */
/* width */
::-webkit-scrollbar
{
    width: 15px;
} 
::-webkit-scrollbar:hover
{
    display: block;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;    
}
/* Track on hover */
::-webkit-scrollbar-track{
    background-color: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb{
    background: #ce5050;
    border-radius: 10px;
    border: 4.5px solid rgba(44, 44, 44, 1);
    
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover{
    border: 4.5px solid #242526;

}