*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
body{
  padding:0 30px;
  background-color: rgba(44, 44, 44, 1);
  overflow-x: hidden;

}
/* Scrollbar styles */
/* width */
body::-webkit-scrollbar
{
    width: 5px;
} 
/* Track */
body::-webkit-scrollbar-track {
    background: transparent;    
}

/* Handle */
body::-webkit-scrollbar-thumb{
    background: #ce5050;
    border-radius: 10px;
    
}
